{% macro render_decision(enum, undecided=none) %}
    {% set text = enum.value %}
    {% if enum.name == "KEEP_ITEM" %}
        {% set icon_name = "save" %}
    {% elif enum.name == "DISCARD_ITEM" %}
        {% set icon_name = "trash-2" %}
    {% elif enum.name == "GIVE_AWAY" %}
        {% set icon_name = "gift" %}
    {% elif enum.name == "UNDECIDED" %}
        {% set icon_name = "circle-help" %}
        {% set text = undecided or enum.value %}
    {% endif %}
    <i data-lucide="{{ icon_name }}" class="lucide-icon"></i> ({{ text }})
{% endmacro %}