{% from 'decision_block.j2' import render_decision %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>BW Inventory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header>
            <h1>
                <div class="vcenter-flex">
                    BW Inventory
                    <div class="color-scheme-toggle-container">
                        <button class="color-scheme-toggle">
                            <div class="color-scheme-icon-when-auto-light">
                                <i data-lucide="sun-moon" class="lucide-icon"></i>
                            </div>
                            <div class="color-scheme-icon-when-auto-dark">
                                <i data-lucide="sun-moon" class="lucide-icon"></i>
                            </div>
                            <div class="color-scheme-icon-when-dark">
                                <i data-lucide="moon-star" class="lucide-icon"></i>
                            </div>
                            <div class="color-scheme-icon-when-light">
                                <i data-lucide="sun" class="lucide-icon"></i>
                            </div>
                        </button>
                    </div>
                </div>
            </h1>
        </header>
        <div class="inventory">
            {% for item in items %}
                <div class="accordion" data-state="open">
                    <button class="accordion-header" aria-expanded="true"
                            aria-controls="item-{{ item.name.uid }}">
                        {{ item.name.slug }}
                        <i data-lucide="chevron-up" class="lucide-icon lg accordion-icon"></i>
                    </button>
                    <span class="accordion-content item" id="item-{{ item.name.uid }}">
                        <h3>Beschreibung</h3>
                        <div class="text-block">
                            {{ item.description }}
                        </div>

                        <div class="gallery" id="gallery-{{ item.name.uid }}"
                             data-uid="{{ item.name.uid }}">
                            {% for path in item.resolved_photos("/inventory") %}
                                <img src="{{ path }}" alt="{{ item.name.slug }} - {{ path.name }}"
                                     loading="lazy" data-full="{{ path }}"
                                     id="img-{{ item.name.uid }}-{{ path.name }}">
                            {% endfor %}
                        </div>

                        <div id="popup-{{ item.name.uid }}" class="popup">
                          <img id="fullImage-{{ item.name.uid }}" src="" alt="Full-size image">
                          <span class="close" id="close-{{ item.name.uid }}"><i data-lucide="x"
                                                                                class="lucide-icon lg"></i></span>
                          <span class="arrow left" id="al-{{ item.name.uid }}"><i
                                  data-lucide="chevron-left" class="lucide-icon lg"></i></span>
                          <span class="arrow right" id="ar-{{ item.name.uid }}"><i
                                  data-lucide="chevron-right" class="lucide-icon lg"></i></span>
                        </div>

                        <h3>Kommentare</h3>
                        {% for comment in item.comments %}
                            <div class="item-comment">
                                <div class="item-comment-author">
                                    {{ comment.author }}
                                    <div class="icon-text">
                                        {{ render_decision(comment.recommendation) }}
                                    </div>
                                </div>
                                <div class="item-comment-content">
                                    <span>
                                    {{ comment.content }}
                                    </span>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Field for adding new comment -->
                        <form action="/inventory/{{ item.name.uid }}/comment" method="post"
                              data-uid="{{ item.name.uid }}">
                            <div class="item-comment">
                                <div class="item-comment-author">
                                    <textarea class="comment-author-input" name="comment-author"
                                              data-uid="{{ item.name.uid }}"
                                              rows=1 cols=50 placeholder="Name"></textarea>
                                    <select class="comment-recommendation-input"
                                            data-uid="{{ item.name.uid }}"
                                            name="comment-recommendation"
                                            id="item-{{ item.name.uid }}-comment-recommendation-input">
                                        {% for enum in item_decision %}
                                            <option value="{{ enum.value }}">{{ enum.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="item-comment-content">
                                    <textarea class="comment-content-input" name="comment-content"
                                              data-uid="{{ item.name.uid }}"
                                              id="item-{{ item.name.uid }}-comment-content-input"
                                              rows=5 placeholder="Kommentar"></textarea>
                                    <span>
                                        <small>Kommentare werden gesammelt am Ende der Seite abgeschickt.</small>
                                    </span>
                                </div>
                            </div>
                        </form>

                        <h3>Entscheidung</h3>
                        <div class="text-block">
                            <span class="icon-text">
                                {{ render_decision(item.decision, "ausstehend") }}
                            </span>
                        </div>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <button type="submit" class="submit-button" id="comments-submit-button">Kommentare
            abschicken
        </button>
        <p>
         <span class="icon-text">
             <i data-lucide="database-backup"
                class="lucide-icon"></i>Zuletzt aktualisiert: {{ now.strftime("%d.%m.%Y %H:%M:%S") }}
         </span>
        </p>
    </footer>
</div>
{% include 'icons_script.j2' %}
{% include 'script.j2' %}
</body>
</html>
